<app-navbar></app-navbar>
<div class="container">
  <img [src]="productInfo?.image" />

  <div class="details">
    <h5>{{ productInfo?.name }}</h5>
    <p>
      {{ productInfo?.description }}
    </p>
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">$</span>
      </div>
      <input
        type="number"
        class="form-control"
        aria-label="Sizing example input"
        [value]="productInfo?.price"
        aria-describedby="inputGroup-sizing-sm"
        disabled
      />
    </div>
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm"
          >Quantity in Stock</span
        >
      </div>
      <input
        type="number"
        class="form-control"
        aria-label="Sizing example input"
        [value]="productInfo?.quantity"
        aria-describedby="inputGroup-sizing-sm"
        disabled
      />
    </div>
    <div class="details-btns">
      <button class="btn btn-outline-danger" [routerLink]="['/home']">
        Back
      </button>
      <button class="btn btn-success" (click)="addToCart(productInfo)">
        Add to Cart
      </button>
    </div>
  </div>
</div>
<app-product-review *ngIf="loggedInUser?.role !== 'ADMIN'"></app-product-review>
