.container {
  width: 95%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#change-password-form {
  padding-top: 5%;
  width: 45%;
}

.message {
  color: #db4325;
  margin-top: 10px;
}

@media (max-width: 768px) {
  #change-password-form {
    width: 100%;
  }
}
