.cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
}

.card {
  min-width: 300px;
  max-width: 200px;
  height: fit-content;
  transition: 0.2s ease-out;
  margin-bottom: 20px;
}

img {
  justify-content: center;
  height: auto;
  width: auto;
  max-height: 200px;
  max-width: 307px;
  object-fit: scale-down;
}

div {
  position: relative;
  transition: 0.2s ease-out;
}

.card:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transform: translate3d(0, -5px, 0);
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .card {
    margin-bottom: 0;
  }
}
