.container {
  max-width: 855px;
}

td:nth-child(2) {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

td:nth-child(3) {
  max-width: 100px;
}

@media (max-width: 850px) {
  .container {
    max-width: 95%;
  }

  button {
    font-size: small;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  button:nth-child(2) {
    margin: 0 !important;
    margin-top: 5px !important;
  }
}

@media (max-width: 600px) {
  table {
    table-layout: fixed;
  }
}
