<nav class="bg-light">
  <div class="logo" [routerLink]="['/home']">
    <img
      src="../../../assets/images/favicon.png"
      width="8%"
      height="8%"
      alt="Revature"
    />
    <h5>Revature Swag Shop</h5>
  </div>
  <div class="nav-links">
    <button
      *ngIf="loggedInUser?.role !== 'ADMIN'"
      class="btn btn-light"
      [routerLink]="['/cart']"
    >
      Cart
      <span class="badge badge-info">{{ cartCount }}</span>
    </button>
    <button
      *ngIf="loggedInUser?.role === 'ADMIN'; else orders"
      class="btn btn-outline-primary"
      [routerLink]="['/admin']"
    >
      Admin
    </button>
    <ng-template #orders>
      <button class="btn btn-light" [routerLink]="['/orders']">
        Order History
      </button>
    </ng-template>
    <button class="btn btn-outline-danger my-2 my-sm-0" (click)="logout()">
      Logout
    </button>
  </div>
</nav>
