<nav class="navbar navbar-light bg-light">
    <h4>
        <img src="../../../assets/images/favicon.png" width="8%" height="8%" alt="Revature">
        SwagBag
    </h4>
    <form class="form-inline">
        <div class="search-bar">
            <i class="fa fa-search"></i>
            <input *ngIf="url==='/home'" type="text" placeholder="Search" #queryInput (input)="search(queryInput.value)">
        </div>
        <button class="btn btn-light" [routerLink]="['/cart']">
            Cart
            <span class="badge badge-info">{{cartCount}}</span>
        </button>
        <div class="dropdown">
            <button class="btn btn-light drop-btn">
                <span *ngIf="loggedInUser && loggedInUser.name.trim().length > 0; else defaultIcon">
                    <i class="fa fa-user"></i> {{loggedInUser.name}}
                </span>
                <ng-template #defaultIcon>
                    <i class="fa fa-bars"></i>
                </ng-template>
            </button>
            <div class="dropdown-content">
                <button [routerLink]="['/orders']">Order History</button>
                <button id="logout-button" (click)="logout();">Logout</button>      
            </div>
        </div>
    </form>
</nav>