.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

#login-form {
  padding-top: 3%;
  width: 45%;
}

.btn {
  margin-right: 2%;
}

@media (max-width: 768px) {
  #login-form {
    width: 90%;
  }

  img {
    width: 75%;
    height: auto;
  }
}
