div.gallery {
    text-align: center;
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

.contain{
    width:100%;
    display: flexbox;
    justify-content: center;
    margin-left: 30%;
}

p { color: #7a7c7f; font-family: "Libre Baskerville", serif; text-shadow: 0 1px 1px #fff;}

p.byline { font-style: italic; color: #B6B6B6;  text-shadow: 0 1px 1px #fff; }
