.orders-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  margin: 1.5% auto;
  max-width: 1500px;
}

.empty-orders {
  font-size: 1.5em;
  text-align: center;
  margin-top: 1.5%;
}

.orders-container-item {
  width: 70%;
}

/* small size viewport */
@media screen and (max-width: 640px) {
  .orders-container-item {
    width: 90%;
  }
}

/* medium size viewport */
@media screen and (max-width: 959px) {
  .orders-container-item {
    width: 80%;
  }
}